html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

.map {
  width: 100vw;
  height: 100vh;
}

a {
  color: #434343;
}

a:hover {
  color: #1055cb;
}

.other-web-sites {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  bottom: 0;
  font-size: 0.8rem;
  background: white;

  opacity: 0.5;
  z-index: 1000;
}

.other-web-sites>li {
  display: inline-block;
  padding: 10px 10px;
  background: white;
}

.other-web-sites>li.current {
  background: #eee;
}

.other-web-sites a {
  text-decoration: none;
}

@media only screen and (max-width: 736px) {
  .other-web-sites {
    font-size: 0.5rem;
  }
}

