name: Deploy the changes

on:
  push:
    branches:
      - master
      - actions

env:
  DOCKER_IMAGE: ${{github.repository}}:latest

jobs:
  setup-build-publish-deploy:
    name: Setup, Build, Publish, and Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: registry.proton.name
          username: proton
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ github.repository }}:latest